@import "colour";
@import "mini";
html,
body {
  background-color: $color-body-bg;
}
// ui样式重置
// 首页
.header {
  .mu-appbar-title {
    text-align: center;
  }
}
// 侧边栏样式
.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}
.slideout-menu-right {
  right: 0;
  background-color: $color-background;
  background-image: linear-gradient(145deg, #ef5350, #e55c5c);
}
.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: $color-body-bg;
  // min-height: 100vh;
}
.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}
.slideout-open .slideout-menu {
  display: block;
}
// 侧边栏内容样式，nav
.nav {
  .mu-item-left,
  .mu-item-title {
    color: #fff;
  }
  .mu-item-wrapper {
    margin-top: 5px;
    padding-left: 20px;
  }
  .close {
    .mu-icon {
      font-size: 30px;
    }
  }
}

// 上传页面
.upload {
  .city {
    .mu-flat-button {
      width: 100%;
      text-align: left;
      font-size: 16px;
    }
  }
  // 图片裁切
  .g-core-image-corp-container {
    height: 100vh;
    background-color: #000;
  }
  .g-crop-image-box{
    // 裁切背景颜色
    .g-crop-image-principal {
      background-color: #c5c5c5;
    }
    // 放大滚动条颜色
    .g-resize-bar {
      background-color: $color-background-opacity;
      .g-resize-highlight {
        background-color: $color-background;
      }
    }
    // 可拖动的小球颜色
    .crop-box {
      .g-resize {
        background-color: $color-background;
        box-shadow: 0 3px 10px rgba(0,0,0,.156863), 0 3px 10px rgba(0,0,0,.227451);
      }
    }
  }
  // 确定按钮颜色
  .g-core-image-corp-container {
    .info-aside {
      background-color: #000;
      .btn-upload {
        background: $color-background;
        border-color: $color-background;
      }
    }
    .btn:active {
      background: $color-background;
    }
  }
}
// popup
.mu-popup-bottom {
  width: 100%;
}
.set-header {
  height: 40px;
  .mu-appbar-title {
    font-size: 16px;
  }
}

// 我上传的
.my-item {
  .mu-card-title-container .mu-card-title {
    font-size: 18px;
    line-height: 30px;
  }
  .mu-card-text {
    padding: 0 16px;
  }
}
.my-upload {
  .mu-card-media-title {
    padding: 10px 16px;
    .mu-card-sub-title {
      color: #fff;
    }
  }
}

// 注册-急验证
.geetest_wind.geetest_panel .geetest_panel_box .geetest_panel_success {
  height: 110px !important;     // 小心! important is very terrible
}
.geetest_wind.geetest_panel .geetest_panel_box .geetest_panel_loading {
  height: 110px !important;     // 小心! important is very terrible
}
.progress {
  text-align: center;
}
.mu-dialog-actions {
  min-height: auto;
  padding: 0;
  .mu-flat-button-primary {
    margin: 8px;
  }
}

// 上传项目
.upload {
  // 商业计划书
  .mu-raised-button-label {
    max-width: 160px;
    @include nowrap;
  }
}

// 首页详细页
.detail {
  .attention {
    .mu-item {
      padding: 0;
      min-height: 40px;
      font-size: 16px;
      color: #fff;
    }
  }
}

// 身份认证页

// 页面滑入动画
.tranx-enter-active, .tranx-leave-active {
  transition: all .3s;
}
.tranx-enter, .tranx-leave-to /* .fade-leave-active in below version 2.1.8 */ {
  transform: translate3d(100%, 0, 0);
}
.trany-enter-active, .trany-leave-active {
  transition: all .3s;
}
.trany-enter, .trany-leave-to /* .fade-leave-active in below version 2.1.8 */ {
  transform: translate3d(0, 20%, 0);
  opacity: 0;
}
// .opacity-enter-active, .opacity-leave-active {
//   transition: all .2s;
// }
// .opacity-enter, .opacity-leave-to {
//   opacity: .5;
// }
